<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FuelIndeed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminAuth</display-name>
    <servlet-name>AdminAuth</servlet-name>
    <servlet-class>com.r3sys.controllers.AdminAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuth</servlet-name>
    <url-pattern>/AdminAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationAuth</display-name>
    <servlet-name>FuelStationAuth</servlet-name>
    <servlet-class>com.r3sys.controllers.FuelStationAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationAuth</servlet-name>
    <url-pattern>/FuelStationAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationRegister</display-name>
    <servlet-name>FuelStationRegister</servlet-name>
    <servlet-class>com.r3sys.controllers.FuelStationRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationRegister</servlet-name>
    <url-pattern>/FuelStationRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeliveryPerson</display-name>
    <servlet-name>AddDeliveryPerson</servlet-name>
    <servlet-class>com.r3sys.controllers.AddDeliveryPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeliveryPerson</servlet-name>
    <url-pattern>/AddDeliveryPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FsChangePassword</display-name>
    <servlet-name>FsChangePassword</servlet-name>
    <servlet-class>com.r3sys.controllers.FsChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FsChangePassword</servlet-name>
    <url-pattern>/FsChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPersonAuth</display-name>
    <servlet-name>DeliveryPersonAuth</servlet-name>
    <servlet-class>com.r3sys.controllers.DeliveryPersonAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPersonAuth</servlet-name>
    <url-pattern>/DeliveryPersonAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.r3sys.controllers.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuth</display-name>
    <servlet-name>UserAuth</servlet-name>
    <servlet-class>com.r3sys.controllers.UserAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuth</servlet-name>
    <url-pattern>/UserAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFuel</display-name>
    <servlet-name>BookFuel</servlet-name>
    <servlet-class>com.r3sys.controllers.BookFuel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFuel</servlet-name>
    <url-pattern>/BookFuel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFuel</display-name>
    <servlet-name>UpdateFuel</servlet-name>
    <servlet-class>com.r3sys.controllers.UpdateFuel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFuel</servlet-name>
    <url-pattern>/UpdateFuel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRate</display-name>
    <servlet-name>UpdateRate</servlet-name>
    <servlet-class>com.r3sys.controllers.UpdateRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRate</servlet-name>
    <url-pattern>/UpdateRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliverBooking</display-name>
    <servlet-name>DeliverBooking</servlet-name>
    <servlet-class>com.r3sys.controllers.DeliverBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverBooking</servlet-name>
    <url-pattern>/DeliverBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DpChangePassword</display-name>
    <servlet-name>DpChangePassword</servlet-name>
    <servlet-class>com.r3sys.controllers.DpChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DpChangePassword</servlet-name>
    <url-pattern>/DpChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserChangePassword</display-name>
    <servlet-name>UserChangePassword</servlet-name>
    <servlet-class>com.r3sys.controllers.UserChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChangePassword</servlet-name>
    <url-pattern>/UserChangePassword</url-pattern>
  </servlet-mapping>
</web-app>